{% extends "base.html" %}
{% load static %}
{% block content %}
{% comment %} {% load review_filters %} {% endcomment %}
{% comment %} {% if has_reviewed %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.name }} - Book Details</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    
    <h2>{{ book.name }}</h2>
    <img src="{{ book.cover_page.url }}" alt="Cover image">
    {% comment %} <img src="{{ MEDIA_URL }}{{ book.cover_page.url }}" alt="Cover image"> {% endcomment %}
    {% comment %} <img src="{{ book.cover_page.url }}" alt="Cover image"> {% endcomment %}
    {% comment %} <img src="model.cover_page.url" alt="Cover image"> {% endcomment %}

    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Genre:</strong> {{ book.genre }}</p>
    <p><strong>Published Date:</strong> {{ book.published_date }}</p>
    <p><strong>Price:</strong> {{ book.price }}</p>
    <p><strong>Description:</strong> {{ book.description }}</p>

    <h2>Reviews</h2>
{% for review in reviews %}
    <div class="review">
        <p><strong>{{ review.user.username }}</strong></p>
        <p>Rating: 
            {% for i in "*****" %}
                {% if forloop.counter0 < review.rating %}
                    <span>&#x2605;</span>  <!-- filled star -->
                {% else %}
                    <span>&#x2606;</span>  <!-- empty star -->
                {% endif %}
            {% endfor %}
        </p>
        <p>{{ review.comment }}</p>
        <p>Posted on: {{ review.created_at }}</p>
        {% if review.user == request.user %}
        <p>
            <button type="submit" style="background-color:#4cae4c; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
              <a href="{% url 'edit_review' review_id=book.id %}" >Edit Review</a>
            </button>
          </p>
        {% endif %}
    </div>
{% empty %}
    <p>No reviews yet.</p>
{% endfor %}
{% if not has_reviewed %}
{% if request.user.is_authenticated %}
    {% comment %} {% if not has_reviewed %} {% endcomment %}
        <h3>Submit a Review</h3>
        <form action="{% url 'add_review' id=book.id %}" method="get">
            <button type="submit" style="background-color:#4cae4c; ; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
            Add Review</button>
        </form> 
    {% else %}
    <p><a href="{% url 'login' %}" class="text-blue-600 hover:underline">Login</a> to submit a review.</p>
  
    {% endif %}

    {% if has_reviewed %}
        <p>Review submitted. Thank you!</p>
    {% endif %}
    {% endif %}
    
{% endblock %}
